@import url(https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

:root {
    --off-white-color: #fff5ee;
    --accent-color-1: #151515;
    --accent-color-2: #303030;
    --primary-color-1: #a24857;
    --primary-color-2: #2e5a88;
    --orange: #ffb469;
    --pink: #ff69b4;
    --off-pink: #bf4b89;
}

/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-size: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Page Styling */
body {
    background-color: var(--off-white-color);
}

header {
    box-sizing: border-box;
}

section {
    box-sizing: border-box;
}

/* Typography */
h1 {
    font: 500 54px/1.5 'Josefin Sans';
    animation: fade-in 2s;
}

h2 {
    font: 500 42px/1.5 "Josefin Sans";
    text-align: center;
    animation: fade-in 2s;
}

p {
    font: 300 18px/26px "Noto Sans";
    padding: 5px;
    text-align: center;
    animation: fade-in 2s;
}

a {
    font: 300 18px/26px "Noto Sans";
    text-decoration: none;
    color: var(--off-white-color);
    animation: fade-in 2s;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    background: var(--pink);
    color: var(--off-white-color);
    font-size: 16px;
    cursor: pointer;
    animation: fade-in 2s;
}

button:hover {
    background: var(--off-pink);
}

/* media */
img {
    display: inherit;
    animation: fade-in 2s;
}

/* Classes */
.header {
    background-color: var(--accent-color-1);
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 12vh;
    justify-content: space-between;
}

.logo-link {
    display: flex;
    padding: 0.5rem 2rem 0.5rem 2rem;
    margin: 5px;
}

.logo-image {
    width: 20rem;
    scale: clamp(0.8, 1, 1.2)
}

.logo-link:hover {
    scale: 1.05;
    transition: scale 1.2s;
}

.header .navbar {
    display: flex;
    align-items: center;
}

.header .navbar .navbar-nav {
    display: flex;
    padding: 0.5rem 2rem 0.5rem 2rem;
    align-items: center;
}

.header .navbar .nav-button {
    font: 500 24px/28px "Noto Sans";
    padding: 0.5rem 2rem 0.5rem 2rem;
}

.header .navbar .nav-button:hover {
    scale: 1.05;
    transition: scale 0.5s;
}

.hero {
    background-color: var(--primary-color-2);
    height: 130vh;
}

.hero-content {
    position: relative;
    text-align: center;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
}

.hero-header {
    color: var(--off-white-color);
    text-align: center;
    padding-top: 5rem;
}

.hero-subtitle {
    color: var(--off-white-color);
    text-align: center;
    font: 500 28px/14px "Noto Sans";
    padding: 2rem;
    transform: translateY(5rem);
}

.store {
    height: 120vh;
}

.band-info {
    background-color: var(--accent-color-2);
    color: var(--off-white-color);
    height: 80vh;
    display: flex;
    padding-top: 10rem;
    justify-content: space-between;
}

.about {
    margin-left: 15%;
}

.tour-dates {
    margin-right: 15%;
}

.link-button {
    background: var(--pink);
    display: block;
    text-align: center;
    justify-self: center;
    width: 8rem;
    padding: 8px;
    margin: 10px;
    border-radius: 8px;
}

.link-button:hover {
    background: var(--off-pink) ;
}

.contact-form {
    font: 500 18px/26px "Noto Sans";
    background-color: var(--off-white-color);
    color: var(--off-white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    animation: fade-in 2s;
}

.form-container {
    background: var(--accent-color-1);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: left;
}

input, textarea {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background: var(--accent-color-2);
    color: var(--off-white-color);
    display: block;
    box-sizing: border-box;
}

textarea {
    resize: none;
    height: 100px;
}

@media (max-width: 480px) {
    body {
        height: auto;
    }
    .form-container {
        padding: 15px;
    }
    input, textarea, button {
        font-size: 14px;
        padding: 6px;
    }
}

.products-page {
    max-width: 1250px;
    padding-top: 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    margin: auto;
}

.product-card {
    width: 250px;
    text-align: center;
    border-radius: 3px;
    overflow: hidden;
    margin: 20px;
    animation: fade-in 2s;
}

.product-card h3 {
    font: 300 20px/26px "Josefin Sans";
}

.product-description {
    color: var(--accent-color-2);
    padding: 16px;
    font: 500 24px/30px "Josefin Sans";
}

.product-image {
    display: flex;
    height: 200px;
}

