@import url(https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

:root {
    --off-white-color: #fff5ee;
    --accent-color-1: #151515;
    --accent-color-2: #303030;
    --primary-color-1: #a24857;
    --primary-color-2: #3e78b2;
    --pink: #ff69b4;
    --off-pink: #bf4b89;
}

/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-size: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Page Styling */
body {
    background-color: var(--off-white-color);
}

header {
    box-sizing: border-box;
}

section {
    box-sizing: border-box;
    overflow: hidden;
}

/* Typography */
h1 {
    font: 500 54px/1.5 'Josefin Sans';
    text-align: center;
    animation: fade-in 2s;
    color: var(--accent-color-1);
}

h2 {
    font: 500 42px/1.5 "Josefin Sans";
    color: var(--accent-color-1);
    text-align: center;
    animation: fade-in 2s;
}

p {
    font: 300 18px/26px "Noto Sans";
    padding: 5px;
    text-align: center;
    animation: fade-in 2s;
}

a {
    font: 300 18px/26px "Noto Sans";
    text-decoration: none;
    color: var(--off-white-color);
    animation: fade-in 2s;
}

em {
    color: var(--accent-color-2);
    font-weight: 400;
    text-decoration: none;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    background: var(--pink);
    color: var(--off-white-color);
    font-size: 16px;
    cursor: pointer;
    animation: fade-in 2s;
}

button:hover {
    background: var(--off-pink);
}

/* media */
img {
    display: inherit;
    animation: fade-in 2s;
}

/* Classes */
.header {
    background-color: var(--accent-color-1);
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 12vh;
    justify-content: space-between;
}

.logo-link {
    display: flex;
    padding: 0.5rem 2rem 0.5rem 2rem;
    margin: 5px;
}

.logo-image {
    width: 20rem;
    scale: clamp(0.8, 1, 1.2)
}

.logo-link:hover {
    scale: 1.05;
    transition: scale 1.2s;
}

.header .navbar {
    display: flex;
    align-items: center;
}

.header .navbar .navbar-nav {
    display: flex;
    padding: 0.5rem 2rem 0.5rem 2rem;
    align-items: center;
}

.header .navbar .nav-button {
    font: 500 24px/28px "Noto Sans";
    padding: 0.5rem 2rem 0.5rem 2rem;
}

.header .navbar .nav-button:hover {
    scale: 1.05;
    transition: scale 0.5s;
}

.hero {
    background-color: var(--primary-color-2);
    height: 120vh;
}

.hero-content {
    position: relative;
    text-align: center;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
}

.hero-header {
    color: var(--off-white-color);
    text-align: center;
    padding-top: 3rem;
}

.hero-subtitle {
    color: var(--off-white-color);
    text-align: center;
    font: 500 28px/14px "Noto Sans";
    padding: 2rem;
    transform: translateY(3rem);
}

.store {
    height: 90vh;
    justify-content: center;
}

.store h2 {
    padding-top: 3rem;
}


.band-info {
    background-color: var(--accent-color-1);
    color: var(--off-white-color);
    height: 50vh;
    padding: 5rem;
    display: flex;
    justify-content: center;
}

.band-info-alt {
    background-color: var(--primary-color-2);
    color: var(--off-white-color);
    height: 50vh;
    padding: 5rem;
    display: flex;
    justify-content: center;
}

.about-info h2, .tour-dates-info h2 {
    color: var(--off-white-color);
}

.link-button {
    background: var(--pink);
    color: var(--accent-color-1);
    font-weight: 500;
    display: block;
    text-align: center;
    justify-self: center;
    min-width: 8rem;
    padding: 8px;
    margin: 20px;
    border-radius: 8px;
}

.link-button a {
    color: var(--accent-color-1);
    font-weight: 500;
}

.link-button:hover {
    background: var(--off-pink);
}

.contact-links {
    display: flex;
    justify-content: center;
}

.contact-form {
    font: 500 18px/26px "Noto Sans";
    background-color: var(--off-white-color);
    color: var(--off-white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    animation: fade-in 2s;
}

.contact-form h2 {
    color: var(--off-white-color);
}

.form-container {
    background: var(--accent-color-1);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: left;
}

input, textarea {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background: var(--accent-color-2);
    color: var(--off-white-color);
    display: block;
    box-sizing: border-box;
}

textarea {
    resize: none;
    height: 100px;
}

@media (max-width: 480px) {
    body {
        height: auto;
    }
    .form-container {
        padding: 15px;
    }
    input, textarea, button {
        font-size: 14px;
        padding: 6px;
    }
}

.products-page {
    max-width: 1250px;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    margin: auto;
}

.product-card {
    width: 250px;
    text-align: center;
    border-radius: 3px;
    overflow: hidden;
    margin: 20px;
    animation: fade-in 2s;
}

.product-card h3 {
    font: 300 20px/26px "Josefin Sans";
}

.product-description {
    color: var(--accent-color-2);
    padding: 16px;
    font: 500 24px/30px "Josefin Sans";
}

.product-image {
    display: flex;
    height: 200px;
}

.store-header {
    padding-top: 3rem;
}

/* Tour Dates Section */
.tour-dates {
    padding: 40px 20px;
    text-align: center;
    animation: fadeIn 2s;
}

.tour-dates h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: var(--accent-color-1);
}

.tour-dates h3 {
    font-family: "Noto Sans", sans-serif;
}

.tour-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tour-date {
    background-color: var(--pink);
    padding: 20px;
    margin: 10px 0;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.tour-date .link-button {
    background: var(--accent-color-2);
    color: var(--off-white-color);
}

.tour-date h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.tour-date p {
    font-size: 1.2em;
    color: var(--off-white-color);
}

.main-title {
    text-align: center;
    color: var(--accent-color-1);
    animation: fadeIn 2s;
}

.main-title p {
    font-size: 20px;
}

.main-started {
    text-align: center;
    color: var(--accent-color-1);
    animation: fadeIn 2s;
}

.main-started p {
    font-size: 20px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}

.card-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding-bottom: 4rem;
    animation: fade-in 2s;
}

.card {
    background-color: #212121;
    border-radius: 8px;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    animation: fade-in 2s;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card h3 {
    padding: 10px;
    font-size: 18px;
    text-align: center;
    color: var(--off-white-color);
}

.card p {
    padding: 0 10px 10px;
    font-size: 14px;
    text-align: center;
    color: var(--off-white-color);
}

.bpa-info {
    padding: 2rem;
    text-align: center;
    color: var(--accent-color-1);
    animation: fadeIn 2s;
}

footer img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    animation: fadeIn 2s;
}

.about-section {
    padding: 2rem 3rem 2rem 3rem;
}

.about-link {
    color: blue;
    text-decoration: none;
}

.about-link:hover {
    color: darkblue;
    text-decoration: underline;
}

.contact {
    background-color: var(--accent-color-1);
    height: 50vh;
    padding: 6rem;
}

.contact h2 {
    color: var(--off-white-color);
}

.gallery {
    display: flex;
    gap: 15px;
    overflow: hidden;
    padding: 20px;
    background: var(--accent-color-1);
    border-radius: 10px;
    margin: 2rem 5rem;
}

.gallery img {
    width: 420px;
    height: 290px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.gallery img:hover {
    transform: scale(1.1);
}

.about-description {
    text-align: left;
}

.info-header {
    text-align: left;
}

.bpa-info section {
    justify-self: center;
}